// Задаем переменные: цвета, шрифт, переменные для брейкпоинтов
$whiteblue-color: #E7F7FF;
$lightblue-color: #CCEEEF;
$lightgrey-color: #E7E8FF;
$purple-color: #3F3D56;
$aqua-color: #034C65;

$default-font: 'Roboto',
sans-serif,
Times;

$desktop: 1280px;
$ipad: 1024px;
$tablet: 768px;
$mobile: 640px;

body {
    font-family: $default-font;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}

body {
    background-image: url(/assets/images/background.webp);
}

header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 3vh;
    align-items: center;

    /* border: solid 5px green; */
    /*     .logo {
        grid-area: logo;
    }

    .btnsign {
        grid-area: btn;
    } */
}

.btnsign {
    button {
        color: white;
        background-color: $purple-color;
        padding: 8px;
        font-size: larger;
        font-weight: 500;
        border-radius: 15px;
        border-width: 2px;
    }
}

// шаблон под медиа запросы для адаптации; используйте по необходимости, исходя из расположения контента)
@media screen and (max-width: $mobile) {}

@media screen and (min-width: $mobile) and (max-width: $tablet) {}

@media screen and (min-width: $tablet) and (max-width: $desktop) {}

@media screen and (min-width: $desktop) {}