// Задаем переменные: цвета, шрифт, переменные для брейкпоинтов
$whiteblue-color: #E7F7FF;
$lightblue-color: #CCEEEF;
$lightgrey-color: #E7E8FF;
$purple-color: #3F3D56;
$aqua-color: #034C65;

$default-font: 'Roboto',
sans-serif,
Times;

$desktop: 1280px;
$ipad: 1024px;
$tablet: 768px;
$mobile: 640px;

body {
    font-family: $default-font;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}


.registration {
    text-align: center;
    border: 3px solid #F7F8F8;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;

    .main-checkbox {
        display: grid;
        grid-template-columns: 0.2fr 2fr;
        text-align: start;
    }

    .say_hi {
        font-size: 20px;
        color: rgba(63, 61, 86, 1);
        margin-top: 79px;
        margin-bottom: 33.76px;
    }

    .form-control {
        margin-bottom: 22px;
        background-color: rgba(247, 248, 248, 1);
        height: 48.81px;
        border-radius: 14px;
    }

    #checkbox1 {
        height: 16.27118682861328px;
        width: 16.761903762817383px;
    }

    .main-checkbox {
        margin-bottom: 33px;
    }

    .text-xs-center {
        margin-bottom: 21px;
    }

    .button {
        text-decoration: none;
        border-width: 0px;
        outline: none;
        padding: 18px;
        padding-left: 80px;
        padding-right: 80px;
        border-radius: 99px;
        color: white;
        background-color: rgba(3, 76, 101, 1);
        font-size: 16px;
        box-shadow: 5px 5px 5px darkgrey;
    }

    .ili1 {
        display: grid;
        grid-template-columns: 1fr 0.2fr 1fr;
    }

    .ili {
        margin-top: 7px;
        font-size: 12px;
        padding: 0 10px;
    }

    .btn_google_facebook {
        display: grid;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }

    .btn1 {
        border-radius: 14px;
        text-decoration: none;
        border-width: 0px;
        outline: none;
        background-color: white;
        padding: 20px;
    }

    .btn1:hover {
        border: 0.8px solid #DDDADA;

    }

    .account {
        margin-top: 33px;
    }

    .soglasie {
        font-size: 11px;
        color: rgba(173, 164, 165, 1);
    }

    .ssilka {
        text-decoration: none;
        color: rgba(173, 164, 165, 1);
    }

    .ssilka:hover {
        text-decoration: underline;
    }

    .exit {
        color: rgb(255, 0, 106);
    }
}

// шаблон под медиа запросы для адаптации; используйте по необходимости, исходя из расположения контента)
@media screen and (max-width: $mobile) {}

@media screen and (min-width: $mobile) and (max-width: $tablet) {}

@media screen and (min-width: $tablet) and (max-width: $desktop) {}

@media screen and (min-width: $desktop) {}