// Задаем переменные: цвета, шрифт, переменные для брейкпоинтов
$lavender-color: #C58BF2;
$blue-color: #2F2E41;

$default-font: 'Roboto',
sans-serif,
Times;

$desktop: 1280px;
$ipad: 1024px;
$tablet: 768px;
$mobile: 640px;

body {
    font-family: $default-font;
}

.content_container {
    max-width: 1440px;
    margin: 0px auto;
}

header {
    display: grid;
    grid-template-areas: "logo btn";
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    .logo {
        grid-area: logo;
        padding-left: 3vw;
    }
    .btnsign {
        grid-area: btn;
        justify-self: end;
        padding-right: 3vw;
    }
}

.btnsign button {
        color: white;
        background-color: $lavender-color;
        padding: 8px;
        font-size: larger;
        font-weight: 500;
        border-radius: 15px;
        box-shadow: 7px 7px 5px $blue-color;
        border-width: 2px;
        border-color: $blue-color;
}

main .phrase {
    height: 80vh;
    border: solid 2px $blue-color;
    background: url(/assets/images/man_women_smile.svg) no-repeat;
    background-size: 100vh auto;
    background-position: center bottom;
    /* background-color: #92A3FD; */
}

main .information {
    padding-top: 5vh;
    height: 90vh;
    background: url(/assets/images/heart.svg) no-repeat;
    background-size: 100vh auto;
    background-position: right bottom;
    color: $blue-color;
    h1{
        text-align: center;
    }
    .text, .btnsign p{
        font-size: 22px;
        font-weight: 500;
    }
    .text, .btnsign{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    ul{
        margin-left: 10vw;
    }
    li{
        margin-bottom: 10px;
    }
    li.productivity{
        list-style-image: url(/assets/images/open-book.png);
    }
    li.fitness{
        list-style-image: url(/assets/images/weights.png);
    }
    li.meditation{
        list-style-image: url(/assets/images/lotus.png);
    }
    li.drinking{
        list-style-image: url(/assets/images/water-bottle.png);
    }
    li.eating{
        list-style-image: url(/assets/images/food.svg);
    }
    li.sleep{
        list-style-image: url(/assets/images/bed.svg);
    }
}

footer {
    height: 20vh;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
}


// шаблон под медиа запросы для адаптации; используйте по необходимости, исходя из расположения контента)
@media screen and (max-width: $mobile) {}

@media screen and (min-width: $mobile) and (max-width: $tablet) {}

@media screen and (min-width: $tablet) and (max-width: $desktop) {}

@media screen and (min-width: $desktop) {}