.grid-container {
    display: grid;
    grid-template-columns: 80px 40% 50%;
    grid-template-rows: 75% 25%;
    grid-template-areas:
        "header main side"
        "header main pic";


    height: 100vh;
}

.header-second {
    grid-area: header;
    background-color: $blue-transparent-color;
    box-shadow: 10px 0px 10px rgb(225, 225, 225);





    &__nav {
        padding-top: 25px;
        height: 100%;


        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
    }
}

.main-second {
    grid-area: main;
    background-color: $grey-color;
    margin-left: 10px;
    box-shadow: 10px 0px 10px rgb(225, 225, 225);
}

.theme {



    .theme__block {
        max-width: 10rem;
        margin-left: auto;
        margin-right: 2rem;

        div {
            display: inline-block;
            margin-right: 1rem;
        }
    }


    p {
        font-size: 1rem;

    }
}



// стили для списка привычек
.list_of_habits {
    display: grid;
    grid-column: 1fr;
    grid-row: 6fr 1fr 1fr;
    align-content: start;
    grid-gap: 20px;
    height: 80vh;
    background: #F2F2F2;
    padding: 5vh 5vw;
}

.input_habit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #FFFFFF;
    padding: 10px;
    height: 40px;
    color: #7B6F72;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #CBCBCB;

    .addBtn {
        font-size: 30px;
        color: #7B6F72;
        background-color: #fff;
        border-width: 0px;
        width: 60px;
    }

    .note {
        width: 100%;
        border: none;
        font-size: 16px;
    }
}

.clear_all_habits {
    .clearBtn {
        color: #7B6F72;
        background-color: #fff;
        padding: 20px;
        box-shadow: 4px 4px 4px #CBCBCB;
        border-width: 0px;
        font-size: 16px;
        height: 56px;
        border-radius: 10px;
    }
}

.output_habit {
    border-radius: 10px;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #fff;
        margin-bottom: 20px;
        height: 60px;
        font-weight: 500;
        font-size: 16px;


        @media (hover: hover) {

            &:hover .contentBtn,
            &:hover .deleteBtn {
                background-color: $pink-transparent-color;
                transition: background-color 0.1s linear;
            }
        }

        .contentBtn {
            background-color: #fff;
            border-width: 0px;
            padding: 8px 20px;
            width: 90%;
            height: 100%;
            text-align: start;
        }

        .deleteBtn {
            background-color: #fff;
            border-width: 0px;
            padding: 8px 8px;
            min-width: 10%;
            height: 100%;
            text-align: end;
        }
    }
}





.sideblock {
    grid-area: side;

    .sideblock__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;
    }

    #hello {
        height: 2em;
        font-size: 1.6rem;
        font-weight: 300;
        color: $purple-color;
        padding-left: 2em;

    }

    .habit_title {
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        height: 2em;
    }

    .week-box {
        width: 80%;
        margin: auto;
    }
}

.progress {
    margin: 3rem auto;
    width: 60%;

    h2 {
        text-align: center;
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
        color: $lavender-color;
    }

    .progress__bar {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px #CBCBCB;
        border-radius: 99px;
        appearance: none;

    }

    progress::-webkit-progress-bar {
        background: $blue-transparent-color;
        border-radius: 99px;


    }

    progress::-webkit-progress-value {
        background: $lavender-gradient;
        border-radius: 99px;

    }
}



#mark-done {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        margin: 5px;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: 4px;

        input[type="checkbox"] {
            width: 30px;
            height: 30px;
        }
    }
}

// стиль для сегодняшней даты над чекбоксами
.today_style {
    font-weight: 700;
    background-color: $lavender-color;
}

.calendar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    width: 80%;
}

.remind {
    border-radius: 10px;
    background-color: $pink-transparent-color;
    margin-left: 5rem;
    max-width: 30%;

    font-size: 1.4rem;
    font-weight: 500;

    div {
        display: inline-block;
        margin-left: 5px;
        margin-right: 10px;
    }
}

.picture {
    grid-area: pic;
    position: relative;

    img {
        max-height: 100%;
        position: absolute;
        right: 2rem;
    }
}