// Задаем переменные: цвета, шрифт, переменные для брейкпоинтов
$whiteblue-color: #E7F7FF;
$lightblue-color: #CCEEEF;
$lightgrey-color: #E7E8FF;
$purple-color: #3F3D56;
$aqua-color: #034C65;
$blue-color: #2F2E41;


$grey-color: #F1F1F1;
$blue-transparent-color: rgba(146, 163, 253, 0.25);
$pink-transparent-color: rgba(238, 164, 206, 0.5);
$lightgrey-transparent-color: rgba(242, 242, 242, 0.5);
$lilac-color:#C58BF2;
$blue-color: #92A3FD;
$lavender-color: #C58BF2;
$blue-color: #2F2E41;
$gray-color: rgba(146, 163, 253, 0.25);

$default-font: 'Roboto',
sans-serif,
Times;

$desktop: 1280px;
$ipad: 1024px;
$tablet: 768px;
$mobile: 640px;

body {
    font-family: $default-font;
}


html {
    font-size: 62.5%;
}


.content_container {
    max-width: 1440px;
    margin: 0px auto;
}


@import "second_page.scss"; //импорт файла стилей для второй страницы сайта 

.content_container {
    max-width: 1440px;
    margin: 0px auto;
    background: $gray-color;
}

.logo {
        width: 15%;
        padding-top: 2vh;
        padding-left: 3vw;

        svg {
            width: 100%;
            height: 100%;
        }

    }

.btn_decor>button {
    color: $blue-color;
    background-color: $lavender-color;
    padding: 8px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 7px 7px 5px $blue-color;
    border-width: 2px;
    border-color: $blue-color;
    
}

.page_main {
    margin-left: 5vw;
    margin-right: 5vw;
}

.quote-container {
    height: 70vh;
    //background: url(/assets/images/man_women_smile.svg) no-repeat;
    //background-size: 95vh auto;
    //background-position: center bottom;
    text-align: center;
    max-height: 50%;
    margin-bottom: 2rem;

    .quote {
        width: 80%;
        margin: auto;
        margin-bottom: 5rem;
    }

    p {
        color: $blue-color;
        font-size: 22px;
        font-weight: 500;
    }

    #author,
    .btn_decor {
        text-align: right;
    }

    #author {
        margin-right: 8px;
    }

    .quote-img {
        width: 80%;
        margin: auto;

        img {
            width: 100%;
        }
    }
}

main>.information {
    height: 90vh;
    background: url(/assets/images/heart.svg) no-repeat;
    background-size: 100vh auto;
    background-position: right bottom;
    color: $blue-color;

    h1 {
        text-align: center;
    }

    h3 {
        margin-block-end: 2vh;
    }

    .text,
    .btn_decor p {
        font-size: 22px;
        font-weight: 500;
    }

    ul {
        margin-left: 10vw;
        margin-block-start: 0px;
    }

    li {
        margin-bottom: 10px;
    }

    li.productivity {
        list-style-image: url(/assets/images/open-book.png);
    }

    li.fitness {
        list-style-image: url(/assets/images/weights.png);
    }

    li.meditation {
        list-style-image: url(/assets/images/lotus.png);
    }

    li.drinking {
        list-style-image: url(/assets/images/water-bottle.png);
    }

    li.eating {
        list-style-image: url(/assets/images/food.svg);
    }

    li.sleep {
        list-style-image: url(/assets/images/bed.svg);
    }
}

footer {
    height: 15vh;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
}


// стили для списка привычек
.list_of_habits {
    display: grid;
    grid-column: 1fr;
    grid-row: 6fr 1fr 1fr;
    align-content: start;
    grid-gap: 20px;
    height: 80vh;
    background: #F2F2F2;
    padding: 5vh 5vw;
}

.input_habit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #FFFFFF;
    padding: 10px;
    height: 40px;
    color: #7B6F72;

    .addBtn {
        font-size: 30px;
        color: #7B6F72;
        background-color: #fff;
        border-width: 0px;
        width: 60px;
    }

    .note {
        width: 100%;
        border-width: 0px;
        font-size: 16px;
    }
}

.clear_all_habits {
    .clearBtn {
        color: #7B6F72;
        background-color: #fff;
        padding: 20px;
        box-shadow: 4px 4px 4px #CBCBCB;
        border-width: 0px;
        font-size: 16px;
        height: 56px;
    }
}

.output_habit {
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #fff;
        margin-bottom: 20px;
        height: 60px;
        font-weight: 500;
        font-size: 16px;

        @media (hover: hover) {

            &:hover .contentBtn,
            &:hover .deleteBtn {
                background-color: $pink-transparent-color;
                transition: background-color 0.1s linear;
            }
        }

        .contentBtn {
            background-color: #fff;
            border-width: 0px;
            padding: 8px 20px;
            width: 90%;
            height: 100%;
            text-align: start;
        }

        .deleteBtn {
            background-color: #fff;
            border-width: 0px;
            padding: 8px 8px;
            min-width: 10%;
            height: 100%;
            text-align: end;
        }
    }
}

// шаблон под медиа запросы для адаптации; используйте по необходимости, исходя из расположения контента)
@media screen and (max-width: $mobile) {}

@media screen and (min-width: $mobile) and (max-width: $tablet) {}

@media screen and (min-width: $tablet) and (max-width: $desktop) {}

@media screen and (min-width: $desktop) {}