body {
  font-family: "Roboto", sans-serif, Times;
}

html {
  font-size: 62.5%;
}

.content_container {
  max-width: 1440px;
  margin: 0px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 5% 40% 55%;
  grid-template-rows: 75% 25%;
  grid-template-areas: "header main side" "header main pic";
  height: 100vh;
}

.header-second {
  grid-area: header;
  background-color: rgba(146, 163, 253, 0.25);
}
.header-second__nav {
  padding-top: 25px;
  height: 100%;
}
.header-second__nav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.main-second {
  grid-area: main;
  background-color: #F1F1F1;
}

.theme {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
.theme .theme__block {
  max-width: 10rem;
  margin-left: auto;
  margin-right: 2rem;
}
.theme .theme__block div {
  display: inline-block;
  margin-right: 1rem;
}
.theme p {
  font-size: 1rem;
}

.habit {
  margin: 4rem auto;
  width: 80%;
}
.habit ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
}
.habit li {
  border: 1px solid #E7E8FF;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  background-color: white;
  transition: background-color 0.3s linear;
}
.habit li p {
  font-size: 1.6rem;
  font-weight: 500;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (hover: hover) {
  .habit li:hover, .habit li:active {
    background-color: rgba(238, 164, 206, 0.5);
    transition: background-color 0.1s linear;
  }
}
.habit .new-habit {
  border: 1px solid #E7E8FF;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
}
.habit .inputbox {
  width: 80%;
  margin: auto;
  font-size: 1.6rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.habit .inputbox img {
  height: 1em;
}
.habit .inputbox input {
  margin-left: 5px;
  width: 80%;
}

.sideblock {
  grid-area: side;
}
.sideblock .habit_title {
  margin-left: 5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.progress {
  margin: 3rem auto;
  width: 50%;
}
.progress h2 {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  color: #C58BF2;
}
.progress__bar {
  width: 100%;
  height: 45px;
}
.progress::-webkit-progress-value {
  background-color: #C58BF2;
}

#mark-done {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#mark-done div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 4px;
}
#mark-done div input .select-done {
  transform: scale(10);
}
#mark-done div input[type=checkbox] {
  width: 30px;
  height: 30px;
}

.calendar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  width: 80%;
}

.remind {
  border-radius: 10px;
  background-color: rgba(238, 164, 206, 0.5);
  margin-left: 5rem;
  max-width: 30%;
  font-size: 1.4rem;
  font-weight: 500;
}
.remind div {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

.picture {
  grid-area: pic;
  position: relative;
}
.picture img {
  max-height: 100%;
  position: absolute;
  right: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(146, 163, 253, 0.25);
}

.logo {
  width: 150px;
  padding-top: 10px;
  padding-left: 30px;
}

.quote-container {
  width: 70%;
  text-align: center;
  margin: 10px 20px 50px 20px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(29, 22, 23, 0.07);
}
.quote-container .quote {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.quote-container p {
  color: #2F2E41;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}
.quote-container #author {
  text-align: right;
}
.quote-container button {
  color: #2F2E41;
  background-color: rgba(146, 163, 253, 0.25);
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  text-align: right;
}
.quote-container #author {
  margin-right: 8px;
}

.information__maintext {
  width: 80%;
  margin: 50px auto 50px auto;
  color: #2F2E41;
}

.btn-registration_decor > button {
  color: white;
  background: linear-gradient(274.42deg, #C58BF2 0%, #EEA4CE 124.45%);
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  width: 22rem;
  height: 5rem;
}

main > .information h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}
main > .information h3 {
  -webkit-margin-after: 2vh;
          margin-block-end: 2vh;
}
main > .information .information__flex {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
main > .information .information__flex .text {
  width: 50%;
  padding: 20px 20px;
  text-align: justify;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 24px;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 20px;
}
main > .information .information__flex .img {
  width: 35%;
}
main > .information .information__flex .img img {
  width: 100%;
}

.habits-text {
  background-color: rgba(146, 163, 253, 0.25);
  margin-bottom: 100px;
}
.habits-text__flex {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.habits-text__flex .list {
  width: 50%;
  padding: 20px 20px;
  text-align: justify;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 24px;
}
.habits-text__flex .list h3 {
  font-weight: 500;
  text-align: center;
}
.habits-text__flex .img {
  width: 35%;
}
.habits-text__flex img {
  width: 90%;
}

ul {
  margin-left: 3em;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

li {
  margin-bottom: 10px;
  padding-left: 2em;
}

li.productivity {
  list-style-image: url(/assets/images/open-book.png);
}

li.fitness {
  list-style-image: url(/assets/images/weights.png);
}

li.meditation {
  list-style-image: url(/assets/images/lotus.png);
}

li.drinking {
  list-style-image: url(/assets/images/water-bottle.png);
}

li.eating {
  list-style-image: url(/assets/images/food.svg);
}

li.sleep {
  list-style-image: url(/assets/images/bed.svg);
}

.main-registration {
  width: 80%;
  text-align: center;
  color: #2F2E41;
  font-size: 28px;
  margin: auto;
  margin-bottom: 50px;
}

footer {
  height: 10vh;
  background-color: rgba(238, 164, 206, 0.5);
}
footer p {
  font-size: 1.2rem;
  font-weight: 100;
  color: #3F3D56;
  padding-left: 30px;
  padding-top: 25px;
}

.list_of_habits {
  display: grid;
  grid-column: 1fr;
  grid-row: 6fr 1fr 1fr;
  align-content: start;
  grid-gap: 20px;
  height: 80vh;
  background: #F2F2F2;
  padding: 5vh 5vw;
}

.input_habit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: #FFFFFF;
  padding: 10px;
  height: 40px;
  color: #7B6F72;
}
.input_habit .addBtn {
  font-size: 30px;
  color: #7B6F72;
  background-color: #fff;
  border-width: 0px;
  width: 60px;
}
.input_habit .note {
  width: 100%;
  border-width: 0px;
  font-size: 16px;
}

.clear_all_habits .clearBtn {
  color: #7B6F72;
  background-color: #fff;
  padding: 20px;
  box-shadow: 4px 4px 4px #CBCBCB;
  border-width: 0px;
  font-size: 16px;
  height: 56px;
}

.output_habit div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  margin-bottom: 20px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
}
@media (hover: hover) {
  .output_habit div:hover .contentBtn, .output_habit div:hover .deleteBtn {
    background-color: rgba(238, 164, 206, 0.5);
    transition: background-color 0.1s linear;
  }
}
.output_habit div .contentBtn {
  background-color: #fff;
  border-width: 0px;
  padding: 8px 20px;
  width: 90%;
  height: 100%;
  text-align: start;
}
.output_habit div .deleteBtn {
  background-color: #fff;
  border-width: 0px;
  padding: 8px 8px;
  min-width: 10%;
  height: 100%;
  text-align: end;
}/*# sourceMappingURL=style.css.map */