// Задаем переменные: цвета, шрифт, переменные для брейкпоинтов
$lightgrey-color: #E7E8FF;
$purple-color: #3F3D56;
$blue-color: #2F2E41;
$grey-color: #F1F1F1;
$lavender-color: #C58BF2;
$lavender-gradient: linear-gradient(274.42deg, #C58BF2 0%, #EEA4CE 124.45%);

$blue-transparent-color: rgba(146, 163, 253, 0.25);
$pink-transparent-color: rgba(238, 164, 206, 0.5);
$lightgrey-transparent-color: rgba(242, 242, 242, 0.5);
$shadow-color:rgba(29, 22, 23, 0.07);


$default-font: 'Roboto',
sans-serif,
Times;

$desktop: 1280px;
$ipad: 1024px;
$tablet: 768px;
$mobile: 640px;

body {
    font-family: $default-font;
}


html {
    font-size: 62.5%;
}


.content_container {
    max-width: 1440px;
    margin: 0px auto;
}


@import "second_page.scss"; //импорт файла стилей для второй страницы сайта 

.header-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $blue-transparent-color;
}


.logo {
    width: 150px;
    padding-top: 10px;
    padding-left: 30px;
}



.quote-container {
    width: 70%;
    text-align: center;
    margin: 10px 20px 50px 20px;
    padding: 5px;

    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 4px $shadow-color;


    .quote {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    p {
        color: $blue-color;
        font-size: 18px;

        font-style: italic;
        font-weight: 400;
    }

    #author {
        text-align: right;
    }

    button {
        color: $blue-color;
        background-color: $blue-transparent-color;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        border: none;
        text-align: right;

    }

    #author {
        margin-right: 8px;
    }
}

.information__maintext {
    width: 80%;
    margin: 50px auto 50px auto;
    color: $blue-color;

}

.btn-registration_decor>button {
    color: white;
    background: $lavender-gradient;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    width: 22rem;
    height: 5rem;

}

main>.information {
    h1 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 25px;
    }

    h3 {
        margin-block-end: 2vh;
    }


    .information__flex {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-items: center;
        justify-content: space-between;


        .text {
            width: 50%;
            padding: 20px 20px;
            text-align: justify;

            font-size: 1.6em;
            font-weight: 400;
            line-height: 24px;
            box-shadow: 0px 10px 40px $shadow-color;
            border-radius: 20px;

        }

        .img {
            width: 35%;

            img {
                width: 100%;
            }
        }
    }
}

.habits-text {
    background-color: $blue-transparent-color;
    margin-bottom: 100px;

    &__flex {
        width: 80%;
        margin: auto;
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;


        .list {
            width: 50%;
            padding: 20px 20px;
            text-align: justify;

            font-size: 1.6em;
            font-weight: 400;
            line-height: 24px;


            h3 {
                font-weight: 500;
                text-align: center;
            }


        }

        .img {
            width: 35%;
        }

        img {
            width: 90%;
        }

    }
}

ul {
    margin-left: 3em;
    margin-block-start: 0px;
}

li {
    margin-bottom: 10px;
    padding-left: 2em;

}

li.productivity {
    list-style-image: url(/assets/images/open-book.png);
}

li.fitness {
    list-style-image: url(/assets/images/weights.png);
}

li.meditation {
    list-style-image: url(/assets/images/lotus.png);
}

li.drinking {
    list-style-image: url(/assets/images/water-bottle.png);
}

li.eating {
    list-style-image: url(/assets/images/food.svg);
}

li.sleep {
    list-style-image: url(/assets/images/bed.svg);
}

.main-registration {
    width: 80%;

    text-align: center;
    color: $blue-color;
    font-size: 28px;
    margin: auto;
    margin-bottom: 50px;
}

footer {
    height: 10vh;
    background-color: $pink-transparent-color;

    p {
        font-size: 1.2rem;
        font-weight: 100;
        color: $purple-color;
        padding-left: 30px;
        padding-top: 25px;
    }

}


body {
    &.dark-theme {


        p, h1, h2, .habit_title {color: $lightgrey-color;}

        .header-second {background-color: #56565c;}

        .input_habit {
            
            background-color: #7b7b80;
            input {
                color: $lightgrey-color;
                background-color: #7b7b80;
            }
        }
        
        main, .list_of_habits {background-color: #2d2d30;}

        background-color: #1a1a1c;


        
    }
}


// шаблон под медиа запросы для адаптации; используйте по необходимости, исходя из расположения контента)
@media screen and (max-width: $mobile) {}

@media screen and (min-width: $mobile) and (max-width: $tablet) {}

@media screen and (min-width: $tablet) and (max-width: $desktop) {}

@media screen and (min-width: $desktop) {}