.calendar_month button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.calendar_month #header {
  max-width: 100%;
  padding: 5px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

.calendar_month #header button {
  background-color: #92a1d1;
  font-size: 16px;
}

.calendar_month #container {
  width: 80%;
  border: solid 4px red;
}

.calendar_month #weekdays {
  display: flex;
  justify-content: space-between;
  color: #247BA0;
  text-align: center;
  font-size: 14px;
}

.calendar_month #weekdays div {
  width: 100%;
  padding: 5px;
}

.calendar_month #calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.calendar_month .day {
  width: 70px;
  padding: 10px;
  height: 70px;
  border-radius: 100%;
  /* Радиус скругления */
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  margin: 10px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar_month .day:hover {
  background-color: #e8faed;
}


.calendar_month #currentDay {
  background-color: #e8f4fa;
}

.calendar_month #currentDay.done {
  background-color: rgb(187, 248, 179);

} 

.calendar_month .done {
  width: 70px;
  padding: 10px;
  height: 70px;
  border-radius: 100%;
  /* Радиус скругления */
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(187, 248, 179);
  text-align: center;
  margin: 10px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar_month .event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.calendar_month .padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

.calendar_month #newEventModal,
.calendar_month #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;

}

.calendar_month #cancelButton,
.calendar_month #deleteButton {
  background-color: #d36c6c;
}

.calendar_month #saveButton,
.calendar_month #closeButton {
  background-color: #92a1d1;
}

.calendar_month #eventText {
  font-size: 14px;
}

.calendar_month #modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}